.center {
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	top: 50%;

	&.horizontal {
		left: 50%;

		@include media-breakpoint-down(sm) {
			padding-top: 40em !important;
			top: 0%;
		}
	}
}
