<!DOCTYPE html>
<html ng-app="coordinate" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="/css/stylesheet.css" rel="stylesheet">
    <style type="text/css"></style>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/tether/dist/js/tether.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link  href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/materialize/dist/js/materialize.min.js"></script>
    <link  href="/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
  </head>
  <body>
    <ng-view> </ng-view>
    <script src="/angular/init.js"></script>
    <script src="/angular/controllers/form.js"></script>
    <script src="/angular/controllers/create.js"></script>
  </body>
</html>
